{% extends 'base.html'%}
{% load static %}
{% block content %}
<h3 class="tittle">About <i class="glyphicon glyphicon-user"></i></h3>
<div class="card">
	<div class="about-content">
				<!-- about -->	
							<h3>TechCicada</h3>
							<img src="../static/images/logo.png" alt="TechCicada logo"  />
							<h5>
								Welcome to TechCicada
							</h5>
							<p>
								<label>TechCicada is a blog <br> everyday new posts <br> blog posts are related to tech and current affairs</label></p>
							<div class="clearfix"></div>
						<p class="nam">if you are a tech geek like me , subscribe to this blog and email notifications</p>
						<div class="more">
							<a href="contact.html">contact</a>
						</div>
				</div>
</div>
				<!-- <div class="card">
					<div class="top-inner second">
					<div class="col-md-6 top-text">
						 <a href="single.html"><img src="{% static 'images/pic1.jpg' %}" class="img-responsive" alt=""></a>
						    <h5 class="top"><a href="single.html">Consetetur sadipscing elit</a></h5>
							<p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labore dolore magna aliquyam eratsed diam justo duo dolores rebum.</p>
						    <p>On Jun 25 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a><a class="span_link" href="single.html"><span class="glyphicon glyphicon-circle-arrow-right"></span></a></p>
					 </div>
					<div class="col-md-6 top-text two">
						 <a href="single.html"><img src="images/pic2.jpg" class="img-responsive" alt=""></a>
						    <h5 class="top"><a href="single.html">Consetetur sadipscing elit</a></h5>
							<p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labore dolore magna aliquyam eratsed diam justo duo dolores rebum.</p>
						    <p>On Jun 27 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a><a class="span_link" href="single.html"><span class="glyphicon glyphicon-circle-arrow-right"></span></a></p>
					 </div>
					 <div class="clearfix"> </div>
				 </div>
				</div> -->
				 
{% endblock %}