{% extends 'base.html'%}
{% load static %}
{% block content %}
<!-- contact -->
<div class="card">
	<div class="media">
		<!-- <div class="contact"> -->
	   <h3 class="tittle" style="color:purple;">Find Us <i class="glyphicon glyphicon-map-marker"></i></h3>
		<div class="contact-left">
			<div class="mapouter"><div class="gmap_canvas"><iframe width="500" height="344" id="gmap_canvas" src="https://maps.google.com/maps?q=balanagar%2C%20hyderabad&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net/blog/nordvpn-coupon-code/">nordvpn 2 year</a></div><style>.mapouter{position:relative;text-align:right;height:344px;width:500px;}.gmap_canvas {overflow:hidden;background:none!important;height:344px;width:500px;}</style></div>
			<!-- <iframe src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Purwokerto,+Central+Java,+Indonesia&amp;aq=0&amp;oq=purwo&amp;sll=37.0625,-95.677068&amp;sspn=50.291089,104.238281&amp;ie=UTF8&amp;hq=&amp;hnear=Purwokerto,+Banyumas,+Central+Java,+Indonesia&amp;ll=-7.431391,109.24783&amp;spn=0.031022,0.050898&amp;t=m&amp;z=14&amp;output=embed"></iframe> -->
		</div>
		<div class="contact-right">
			<h3 style="color: purple;">Call us</h3>
			<p class="phn"> <a href="tel:+918374563449">(+91)837 456 3449</a>  </p>
			<p class="phn-bottom">TechCicada
					<span>mail us at: <a href="mailto:techcicada@gmail.com?Subject=regarding%20blog">techcicada@gmail.com</a> </span></p>
		</div>
		<div class="clearfix"> </div>
		<div class="contact-left1">
			<h3>Drop a Message</h3>
			<div class="in-left">
				<form>
					<p class="your-para">Your Name :</p>
							<input type="text">
							<p class="your-para">Your Mail :</p>
							<input type="text">
							<p class="your-para">Phone Number:</p>
							<input type="text">
				</form>
			</div>
			<div class="in-right">
				<form><p class="your-para">Message:</p>
					<textarea cols="20" rows="6"></textarea>
					<input type="submit" value="Submit">
				</form>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="contact-right1">
			<h3><span>TechCicada</span></h3>
			<h4><label>Tech Blog</label></h4>
			<p>techcicada</p>
			     <ul class=" side-icons con">
							<li><a class="fb" href="#"></a></li>
							<li><a class="twitt" href="#"></a></li>
							<li><a class="goog" href="#"></a></li>
							<li><a class="drib" href="#"></a></li>
					   </ul>
		</div>
		<!-- </div> -->
	</div>
	 
</div>
	
<!-- //contact -->
{% endblock %}