{% extends 'base.html' %}
{% block content %}
<h3 class="tittle media">Blog <i class="glyphicon glyphicon-floppy-disk"></i></h3>
{% for post in object_list %}
						
						<div class="card" onclick="location.href='{% url 'single' post.slug %}'">
							<div class="media blog">	
								<div class="general-text one">
									<a href="{% url 'single' post.slug %}"><img src="{{ post.cover.url }}" class="img-responsive" alt=""></a>
										<h3 class="top"><a href="{% url 'single' post.slug %}">{{ post.title }}</a></h3>
										<p>{{ post.content | slice:":150" }} ...</p>
										<p>{{ post.created_date }} 
											<!-- <a class="span_link" href="#"> -->
											<!-- <span class="glyphicon glyphicon-comment"></span>0 </a> -->
											<!-- <a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a> -->
											<a class="span_link" href="{% url 'single' post.slug %}">
												<span class="glyphicon glyphicon-circle-arrow-right"></span>
											</a>
										</p>
								</div>
							</div>
						</div>
{% endfor %}
{% endblock content %}