{% extends 'base.html' %}
{% block content %}
<h3 class="tittle" style="color: purple;">{{ post.title }}<i class="glyphicon glyphicon-file"></i></h3>
<div class="card">
			<div class="single">
			   <img src="{{ post.cover.url }}" class="img-responsive" alt="" id="postimg" onclick="postimgfun()" />
			    <div class="b-bottom"> 
			      <h3 class="top"><a href="#">{{ post.title }}</a></h3>
				   <p class="sub">{{ post.content }}</p>
			      	<p>{{ post.created_date }} 
					  <!-- <a class="span_link" href="#">
						  <span class="glyphicon glyphicon-comment"></span>0 </a>
						  <a class="span_link" href="#">
							  <span class="glyphicon glyphicon-eye-open">
							  </span>56 </a> -->
					</p>
				 
				</div>
			 </div>
			  <div class="single-bottom">
								<div class="single-middle">
								<ul class="social-share">
									<li><span>SHARE</span></li>
									<li><a href="https://www.facebook.com/sharer/sharer.php?u=https://boredanand.pythonanywhere.com/{{post.title}}"><i> </i></a></li>						
									<li><a href="http://twitter.com/share?text=you people should read this post.&url=https://boredanand.pythonanywhere.com/{{post.id}}&hashtags=blog,{{post.category}},{{post.title}}" target="_blank"><i class="tin"> </i></a></li>
									<!-- <li><a href="#"><i class="message"> </i></a></li>	 -->
									<a href="whatsapp://send?text=http://boredanand.pythonanywhere.com/{{post.id}}"><i class="fa fa-whatsapp fa-lg" aria-hidden="true"></i></a>					
									<!-- <a href="http://pinterest.com/pin/create/button/?url={boredanand.pythonanywhere.com{{post.id}} }&media={ {{post.cover}} }&description={ {{post.title}} }" class="pin-it-button" count-layout="horizontal" target="_blank">
										<img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" />
									</a> -->
								</ul>
								<a><button id="cpbtn" style="float: right;" onclick="playAudio()" >
									<audio id="copyaudio">
										<source src="../static/audio/copied.mp3">
									</audio>
									<i class="arrow"></i></a></button>
									
								<div class="clearfix"> </div>
						   </div>
						</div>
						<div class="fb-like" data-href="https://boredanand.pythonanywhere/{{post.id}}" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="true"></div>
				<div class="clearfix"></div>
				<div class="fb-comments" data-href="https://boredanand.pythonanywhere/{{post.id}}" data-width="" data-numposts="15"></div>
</div>

<script type="text/javascript">

	$(document).ready(function () {
		$("#cpbtn").click(function (event) {
			event.preventDefault();
			CopyToClipboard("boredanand.pythonanywhere.com{% url 'single' post.slug %}", true, "link copied");
		});
	});

	function CopyToClipboard(value, showNotification, notificationText) {
		var $temp = $("<input>");
		$("body").append($temp);
		$temp.val(value).select();
		document.execCommand("copy");
		$temp.remove();

		if (typeof showNotification === 'undefined') {
			showNotification = true;
		}
		if (typeof notificationText === 'undefined') {
			notificationText = "Copied to clipboard";
		}

		var notificationTag = $("div.copy-notification");
		if (showNotification && notificationTag.length == 0) {
			notificationTag = $("<div/>", { "class": "copy-notification", text: notificationText });
			$("body").append(notificationTag);

			notificationTag.fadeIn("slow", function () {
				setTimeout(function () {
					notificationTag.fadeOut("slow", function () {
						notificationTag.remove();
					});
				}, 1000);
			});
		}
	}
	function postimgfun() {
   var element = document.getElementById("postimg");
   element.classList.toggle("postimgstyle");
	}

	var x = document.getElementById("copyaudio"); 

	function playAudio() { 
	x.play(); 
	} 
</script>		   
{% endblock content %}